tags
tarballs
django*
Django*
local_settings.py
*.pyc
*.swp
*.swo
*.egg-info*
.tox
docs/_build*
build
dist
*.py[c|o]
.DS_Store
*.sql
*.bz2
*~
*.log
*.json
*.wsgi
*.egg-info
.project
.pydevproject
.settings
versiontools*
_build*
doc/index.html
dist*
*.swp
\#*
.\#*
.idea
Vagrantfile
vagrant
.vagrant
requirements.txt
static
media